@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wdth,wght@0,62.5..100,100..900;1,62.5..100,100..900&family=Outfit:wght@100..900&display=swap");

* {
  font-family: Outfit;
}
